.bodyheight{
	line-height: 0px;
	background-color: #F2F2F2;
}
.image{
	width: 100%;
}
.myimage{
	background-image: url("/img/main.jpg");
}
.search{
	
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
	background-color: #F2F2F2;
	border-radius: 5px;
	align-items: center;
	position: absolute;
}